@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.addBookdiv{
margin: 10px 10px 10px 10px;
display: flex;
justify-content: center;
flex-direction: row;

}

.addRecpDiv {
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cards__container{
    border: 3px solid black;
    margin: 5px 5px 5px 5px;
    /* background: #5e011f; */
    flex-flow: column wrap;
    width: 80%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    opacity: 0.85;
}

.RecpListBack{
    background-image: url('../../../src/dinnertable.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.communityRecpHead{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;

}