@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.card {
    z-index:3;
}

.card-content{
    color: white;
    z-index: 2;
    background: #5e011f;
    opacity: 2;

}

 h3 span element.style {
    color:white;
}