@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.bookListBack {
    background-image: url('../../../src/BookImg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
    z-index: 0;
}

 .Bookcard__container{
    border: 3px solid rgb(85, 29, 29);
    margin: 5px 5px 5px 5px;
    flex-flow: column wrap;
    width: 75%;
    height: 500px;
    opacity: 0.9;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 0

    }

.BookHeader {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

.Addbutton__container{
    margin: 10px 10px 10px 10px;
display: flex;
justify-content: center;
flex-direction: row;

}