.bookListBack {
    background-image: url('../../../src/BookImg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
    z-index: 0;
}

 .Bookcard__container{
    border: 3px solid black;
    margin: 5px 5px 5px 5px;
    flex-flow: column wrap;
    width: 75%;
    opacity: 0.85;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 0

    }

.BookHeader {
    color: white;
    display: flex;
    justify-content: center;
}

.Addbutton__container{
    margin: 10px 10px 10px 10px;
display: flex;
justify-content: center;
flex-direction: row;

}